.rating{
  width: 150px;
  height: 15px;
}
.basket{
  position: fixed;
  top: 100px;
  left: 40px;
  cursor: pointer;
  z-index: 10;
}
.basket-btn{
  border: 0px;
  border-radius: 50%;
  width: 90px;
  height: 90px;
}
.AddItem{
  position: absolute;
  right: 10px;
  bottom: 0px;
  height: 30px;
}
.page-title {
  text-align: center;
  font-size: 38px;
  color: #1e90ff;
  font-weight: 400;
}
.catalog{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 600px;
  justify-content: center;
}
.item{
  position: relative;
  width: 300px;
  height: 300px;
  border: 1px solid rgba(207, 205, 207, 0.89);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
  border-radius: 7px;
  margin: 20px;
  transition: all .5s;
  background: white;
}
.item:hover{
  box-shadow: 0 0 70px rgba(0, 0, 0, 1);
}
.item-img{
  height: 200px;
}
img{
  width: 100%;
  height: 100%;
  border-radius: 7px;
}
.item-text{
  margin: 0px 0px 0px 20px;
  font-size: 15px;
  font-weight: 500;
}
.basket-counter{
  font-size: 20px;
  font-weight: 500;
}
.icon-details{
  position: absolute;
  right: 10px;
  bottom: 30px;
}